<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Screen Capture Streaming</title>
    <style>
        body{background-color: black;}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <canvas id="canvas" style="display:none;"></canvas>
    <img id="screenshot" src="" alt="共有する画面を選択してください">
    <script>
        var socket = io.connect();
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        var videoElement = document.createElement('video');
        var captureStream = null;

        async function startCapture() {
            try {
                const displayMediaOptions = {
                    video: { cursor: "always" },
                    audio: false
                };
                captureStream = await navigator.mediaDevices.getDisplayMedia(displayMediaOptions);
                videoElement.srcObject = captureStream;
                await videoElement.play();
                console.log("Capture started");
            } catch (err) {
                console.error("Error: " + err);
            }
        }

        function captureScreen() {
            if (videoElement.srcObject) {
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;
                ctx.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

                const base64Data = canvas.toDataURL('image/jpeg');
                socket.emit('screenshot', { data: base64Data });
            }
        }

        socket.on('connect', function() {
            console.log("Connected to server");

            // キャプチャを開始
            startCapture();

            // 0.1秒ごとにスクリーンキャプチャを行う
            setInterval(captureScreen, 100);
        });

        socket.on('screenshot', function(data) {
            var img = document.getElementById('screenshot');
            img.src = data.data;
        });
    </script>
</body>
</html>